{
  "presets": [["es2015", { "loose": true }]],
  "plugins": ["transform-vue-jsx"],
  "env": {
    "utils": {
      "plugins": [
        ["module-resolver", {
          "root": ["element-ui-custom-ac"],
          "alias": {
            "element-ui-custom-ac/src": "element-ui-custom-ac/lib"
          }
        }]
      ]
    }
  }
}
